* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./images/небо.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 138px;
    font-family: Roboto;
}

.container {
    display: inline-block;
    max-width: 1146 px;
    margin: auto;
    vertical-align: top;
}

h1 {
    font-family: Roboto;
    color: darkblue;
    display: inline-block;
    font-size: extralarge;
    text-align: left;
    padding: 14px 17px 14px 17px;
}

nav {
    background-color: darkblue;
    font-family: Roboto;
    padding-top: 26px;
    padding-bottom: 27px;
}

.container .Anker {
    color: white;
    font-size: large;
    display: inline-block;
    text-decoration: none;
    padding-left: 5%;
}

a:hover {
    background-color: rgb(91, 213, 243);
}

.left-column {
    padding-left: 20px;
    display: inline-block;
    width: 750px;
    vertical-align: top;
    font-size: normal;
}

.right-column {
    padding-left: 40px;
    display: inline-block;
    width: 360px;
    vertical-align: top;
}

.Lorem {
    color: black;
}

.right-column .Lorem {
    color: black;
    text-decoration: underline;
    font-size: small;
    display: inline-block;
    padding: 2%;
    text-align: left;
}

.right-column div {
    border: solid 2px darkblue;
    display: inline-block;
    padding: 3%;
}

.container .right-column,
div {
    margin-bottom: 10%;
}

.container .right-column,
.left-column {
    margin-top: 4%;
    margin-bottom: 4%;
}

.right-column div p {
    font-size: small;
    padding: 2%;
    margin-top: 3%;
}

.container .left-column p {
    padding-top: 2%;
    padding-bottom: 2%;
}

p {
    font-family: Roboto;
    color: black;
    font-size: normal;
    padding: 4px;
}

h3 {
    color: white;
    font-size: large;
    padding: 14px 17px 14px 17px;
    background-color: blue;
}

h2 {
    color: darkblue;
    font-family: Roboto;
    font-size: large;
    padding-top: 13px;
    padding-bottom: 15px;
    border-top: solid 2px darkblue;
    border-bottom: solid 2px darkblue;
    vertical-align: top;
}

ul {
    list-style: none;
}

footer {
    background-color: darkblue;
    font-size: extrasmall;
    font-family: Roboto;
    padding-bottom: 90px;
    padding-top: 45px;
    text-align: right;
}